.header {
    position: fixed;
    z-index: 5;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px -2px 15px rgba(0,0,0,0.3);
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.header__section {
    flex: 1 1 30%;
    display: flex;
    grid-gap: 40px;
}

.header__section:nth-child(1) {
    justify-content: flex-end;
}

.header__section:nth-child(2) {
    justify-content: center;
}

.header__section:nth-child(3) {
    justify-content: flex-start;
}

.header__menu_item {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    color: var(--dark-green);
    white-space: nowrap;
    transition: all 0.3s ease;
}
@media (hover: hover) {
    .header__menu_item:hover {
        color: var(--light-green);
    }
    .header__menu_item.active:hover {
        color: var(--dark-green);
    }
}
.header__menu_item:after {
    content: '';
    position: absolute;
    z-index: 1;
    display: block;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    border-radius: 3px;
    background-color: var(--dark-green);
    opacity: 0;
    transition: all 0.3s ease;
}

.header__menu_item.active:after {
    opacity: 1;
    width: 100%;
}

.header__menu_logo {
}

.header__burger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.header__burger_logo {
    max-height: 65px;
}

/* Menu-burger icon ======================================= */
.header__burger_icon {
    display: block;
    position: relative;
    z-index: 2;
    width: 35px;
    height: 19px;
}

.header__burger_icon span {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    height: 3px;
    left: 0;
    background-color: var(--dark-green);
    transition: all 0.5s ease;
}

.header__burger_icon span:first-child {
    top: 0;
}

.header__burger_icon span:nth-child(2) {
    top: 50%;
    transform: translate(0%, -50%);
}

.header__burger_icon span:last-child {
    bottom: 0;
}

.header__burger.active .header__burger_icon span:first-child {
    top: 50%;
    transform: rotate(-45deg);
}

.header__burger.active .header__burger_icon span:last-child {
    top: 50%;
    transform: rotate(45deg);
}

.header__burger.active .header__burger_icon span:nth-child(2) {
    width: 0;
}

@media (min-width: 686px) {
    .header__burger {
        display: none;
    }
}

@media (max-width: 686px) {
    .header__menu.active {
        transform: translateX(0);
    }
    .header__menu {
        position: absolute;
        z-index: -1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: #363838;
        padding: 0 20px;
        grid-gap: 40px;
        transform: translateX(-110%);
        transition: transform 0.4s ease;
    }

    .header__section:nth-child(n) {
        justify-content: center;
        flex: 0 1 auto;
        flex-wrap: wrap;
        text-align: center;
    }

    .header__menu_item {
        font-size: 42px;
        color: var(--grey);
    }

    .section-img {
        display: none;
    }
    .header__burger.active .header__burger_icon span {
        background-color: var(--grey);
    }
}