.section {
    margin: 100px auto;
}
.section__title {
    max-width: 70%;
    margin: 0 auto 40px auto;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 51px;
    color: var(--dark-green);
}
@media (max-width: 767px) {
    .section {
        max-width: 100%;
        padding: 0 20px;
        margin: 40px auto;
    }
    .section__title {
        max-width: 100%;
        margin: 0 0 30px 0;
    }
}

@media (max-width: 562px) {
    .section__title {
        font-size: 30px;
        line-height: 36px;
    }
}