.footer {
    background-color: var(--grey);
}

.footer__body {
    display: flex;
    justify-content: space-between;
    padding: 60px 0 80px 0;
    background-color: var(--grey);
}

.footer__connect {
}

.footer__connect_title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--dark-green);
}

.footer__connect_text {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    color: var(--dark-green);
}

.footer__connect_email {
    display: inline-flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer__connect_email:focus svg {
    fill: var(--dark-green);
}

@media (hover: hover) {
    .footer__connect_email:hover svg {
        fill: var(--dark-green);
    }
}

.footer__connect_email svg {
    margin-right: 15px;
    width: 30px;
    fill: var(--light-green);
    transition: fill 0.3s ease;
}

.footer__connect_email span {
    font-weight: 600;
    font-size: 14px;
    color: var(--dark-green);
}

.footer__form {
    display: flex;
    grid-gap: 10px;
}

.footer__network {
}

.footer-links {
}

.footer-links__item {
}

.footer-links__link {
    display: flex;
    align-items: center;
}

.footer-links__link:focus .footer-links__item_svg {
    fill: var(--dark-green);
}

@media (hover: hover) {
    .footer-links__link:hover .footer-links__item_svg {
        fill: var(--dark-green);
    }
}

.footer-links__item:not(:last-child) {
    margin-bottom: 15px;
}


.footer-links__item_svg {
    width: 25px;
    fill: var(--light-green);
    margin-right: 12px;
    transition: fill 0.3s ease;
}

.footer-links__item_text {
    font-size: 14px;
    font-weight: 600;
    color: var(--dark-green);
}

.footer__help {
}

.footer-navigation {
}

.footer-navigation__item {
}

.footer-navigation__item:not(:last-child) {
    margin-bottom: 15px;
}

.footer-navigation__item_link {
    position: relative;
    display: inline-block;
    color: var(--dark-green);
    font-weight: 600;
    font-size: 14px;
}

.footer-navigation__item_link:after {
    content: '';
    position: absolute;
    z-index: 1;
    display: block;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: var(--light-green);
    transition: all 0.3s ease;
}

.footer-navigation__item_link:focus:after {
    width: 100%;
}

@media (hover: hover) {
    .footer-navigation__item_link:hover:after {
        width: 100%;
    }
}


.footer__copyright {
    background-color: var(--black);
    text-align: center;
    padding: 35px;
}

.footer__copyright_text {
    font-size: 16px;
    color: var(--ashen);
}

@media (max-width: 950px) {
    .footer__body {
        flex-wrap: wrap;
        grid-gap: 25px;
    }
    .footer__connect {
        width: 100%;
    }
}

@media (max-width: 520px) {
    .footer__form {
        flex-direction: column;
    }
    .footer__copyright {
        padding: 15px;
    }
}