.gallery-categories {
    margin: 70px auto;
    max-width: 80%;
}

.gallery-categories__list {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    justify-content: center;
}

.gallery-categories__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-align: center;
    border: 2px solid var(--black);
    color: var(--black);
    opacity: 50%;
    padding: 10px 25px;
    border-radius: 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.gallery-categories__item.active {
    opacity: 100%;
    border: 2px solid transparent;
    background-color: rgba(44, 84, 32, 0.5);
}

.gallery {
    max-width: 80%;
    margin: 0 auto 90px auto;
}

.gallery__section {
    display: grid;
    grid-gap: 10px;
}

.gallery__section:not(:last-child) {
    margin-bottom: 20px;
}

.gallery__section.standard {
    grid-template-columns: 0.8fr 0.5fr 0.5fr;
}

.gallery__section.standard .item-gallery.big {
    grid-row: 1 / 3;
}

.gallery__section.reverse {
    grid-template-columns: 0.5fr 0.5fr 0.8fr;
}

.gallery__section.reverse .item-gallery.big {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
}

.gallery__item {
}

.gallery__item.active {
}

.item-gallery {
    position: relative;
    cursor: pointer;
    padding: 40% 0;
}

.item-gallery.big {
}

@media (hover: hover) {
    .item-gallery:hover .item-gallery__description {
        pointer-events: all;
        opacity: 1;
        transform: scale(1);
    }
}

.item-gallery__photo {
    width: 100%;
    height: 100%;
}

.item-gallery__photo_img {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}

.item-gallery__description {
    opacity: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.6);
    pointer-events: none;
    transform: scale(0.8);
    transition: all 0.3s ease;
}

.item-gallery__description_title {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    color: var(--black);
}

.item-gallery__description_title:before {
    content: '';
    position: absolute;
    z-index: 1;
    display: block;
    bottom: -20px;
    left: 50%;
    width: 80%;
    height: 4px;
    border-radius: 9px;
    background-color: var(--black);
    transform: translate(-50%, 0);
}

.item-gallery__description_price {
}

.item-gallery_text {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    opacity: 0.6;
    color: var(--black);
}

.item-gallery__description_material {
}

.item-gallery__description_size {
}

.gallery-nothing {
    text-align: center;
    font-size: 42px;
    margin-bottom: 40px;
}


@media (max-width: 930px) {
    .gallery {
        max-width: 100%;
        margin: 0 auto 50px auto;
    }

    .gallery__section.standard, .gallery__section.reverse {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery__section.standard .item-gallery.big {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }

    .gallery__section.reverse .item-gallery.big {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }
}

@media (max-width: 686px) {
    .item-gallery {
        margin: 0;
    }

    .gallery__section {
        grid-gap: 10px;
        padding: 0 10px;
        grid-template-columns: 1fr 1fr;
    }

    .item-gallery.start-big, .item-gallery.end-big {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
}

@media (max-width: 570px) {
    .gallery__section.standard {
        grid-template-columns: repeat(1, 1fr);
    }
    .gallery__section.reverse {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 450px) {
    .gallery__section {
        grid-template-columns: 1fr;
    }

    .gallery {
        margin-bottom: 50px;
    }
}